* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
:root{
  --mainFont:'Bebas Neue', cursive;
  --secondaryFont:'Montserrat', sans-serif;  
  --primaryColor: #0a121e;
  --secondaryColor: #132537;
  --thirdColor: #45646b;
  --fourthColor: #91b4b9;
  --animationColor: #21252c;
}
.Animation {
  padding-top:70px;
  display: block;
  width: 100%; 
}
span {
  font-size: 3vw;
  display: block;
  font-family: var(--mainFont);  
  white-space: nowrap;
  border-right: 4px solid;
  width: 24ch;
  animation: typing 13s steps(28), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.profile {
  background-color: var(--animationColor);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  padding-bottom: 80px;
  margin-bottom: -60px;  
}
.profile h3 {
  font-family: var(--secondaryFont);  
  width: 70%;
  margin: 15px 0;  
}
.profile img {
  width: 40%;
}
.profile p {
  margin: 15px 0;
  width: 70%;
  font-size: 3vw;
  text-align: justify;
  font-family: var(--secondaryFont);
  font-weight: 300;
}
.downloadCv {
  width: 28vw;
  border-radius: 20px;
  background-color: var(--fourthColor);
  border: none;
}
.downloadCv a {
  text-decoration: none;
  color: white;
}
.downloadCv a:hover {
  color: var(--primaryColor);
}
.downloadCv h4 {
  margin: 0;
  padding: 10px;
  font-size: 3vw;
  font-family: var(--mainFont);
}
strong{
  color: var(--fourthColor);
  font-weight: bold;
}
@media screen and (min-width: 678px) {  
  span {   
    font-size: 2vw;
  }
  .profile {    
    padding-top: 10vh;    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .profile span {
    grid-area: 1 / 4 / 2 / 8; /* posinitialrow/posinitialcolumn/posfinalrow/posfinalcolumn */
    margin: auto;
  }
  .profile h3 {
    grid-area: 2 / 4 / 4 / 11;
    font-size: 1.8vw;
    margin: auto;
  }
  .profile img {
    grid-area: 2 / 2 / 10 / 5;
    width: 100%;
  } 
  .profile p {
    grid-area: 4 / 5 / 8/ 11;
    font-size: 1.5vw;
    margin: auto;
  }
  .downloadCv {
    grid-area: 8 / 7 / 10 / 9;
    margin: auto;
    width: 100%;    
  }
  .downloadCv h4 {
    font-size: 2vw;
    padding: 5px;
  }
}