* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primaryColor: #0a121e;
  --secondaryColor: #132537;
  --thirdColor: #45646b;
  --fourthColor: #91b4b9;
  --animationColor: #21252c;
}

.Animation {
  padding-top: 150px;
  display: block;
  width: 100%;
}

span {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 28ch;
  animation: typing 5s steps(28), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.profile {
  background-color: var(--animationColor);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  padding-bottom: 80px;
  margin-bottom: -60px;
}
.profile h3 {
  width: 70%;
    margin: 15px 0;
}
.profile img {
  width: 40%;
}

.profile p {
  margin: 15px 0;
  width: 70%;      
  font-size: 12px;
}
