* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primaryColor: #0A121E;
    --secondaryColor: #132537;
    --thirdColor: #45646B; 
    --fourthColor: #91B4B9;     
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.card-container {  
    align-items: center;
    width: 70%;    
    background-color: white;
    border-radius: 15px;    
    text-align: center;
    padding: 10px 25px;
    filter: drop-shadow(0px 22px 16px rgba(0, 0, 0, 0.32));  
    margin: 20px 0; 
}

.card-container img {
    width: 60%;
    margin: 15px 0;
}
.card-container h3 {
    margin: 10px 0;
}

.card-container p {
    margin: 10px 0;
}
.card-container ul {
    margin: 0;
    padding: 0;
}
.card-container li {
    list-style: none;
    margin: 5px 0;
}
.card-container li:nth-child(1){
    color: red;
}

.skillsIcons img {
    width: 15%;
    margin: 10px 5px;
}

.card {
    border: none;
    padding: 0;
}

.insideShow.card-body {
    padding: 0;
}